extends layout

block content
  
  .row
    .span8
      h3 Corsi
      
    .span4
      .spacer
      a.btn.pull-right.btn-success(href='/courses/form')
        i.icon-white.icon-upload
        |  Carica nuovo corso
        
  .row
    .span12
      if courses.length > 0
      
        table.table.table-striped
          thead
            tr
              th.span4 Nome corso
              th.span3 Data creazione
              th.span1 Stato
              th.span3 &nbsp;
          tbody
            each item in courses
              tr
                td
                  a(href='/player/#{item.doc.url}', target='blank') #{item.doc.name}
                td #{moment(item.doc.created_on).format('LLL')}
                td
                  if item.doc.enabled
                    a(title='Corso attivo')
                      i.icon-ok
                  else
                    a(title='Corso disabilitato')
                      i.icon-remove
                td.actions
                  
                  if item.doc.enabled
                    a.btn.btn-small.btn-danger(href='/courses/disable/#{item.doc._id}')
                      i.icon-ban-circle.icon-white
                      |  Disabilita
                  else
                    a.btn.btn-small.btn-info(href='/courses/disable/#{item.doc._id}')
                      i.icon-ok.icon-white
                      |  Abilita
                  | &nbsp;
                  a.btn.btn-small(href='/courses/form/#{item.doc._id}')
                    i.icon-pencil.icon-white
                    |  Modifica
      
      
      else
        
        p.alert.alert-info Non è stato inserito ancora alcun corso.

