extends layout

block content
  .spacer
  .row
    .span12
      h3 Gestione corso
  hr
  
  form.form-horizontal(action='/courses/disable', method='POST')
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='_id', value='#{doc._id || ""}')
    
    if message.length
      .alert #{message}
    
    if doc.enabled
      input(type='hidden', name='enabled', value='no')
      
      fieldset
        legend Disabilitazione corso #{doc.name}
      
        .alert.alert-block.alert-danger
          p
            strong Attenzione! 
            | Stai per disabilitare il corso #{doc.name}, per favore nota che:
            ul
              li #{doc.name} non comparirà più nella lista dei corsi degli utenti iscritti
              li Tutti gli utenti che stanno visualizzando il corso #{doc.name} in questo momento potranno completarlo senza interruzioni
              li Nessun dato sarà eliminato e potrai riabilitare questo corso in qualsiasi momento
        
        p Per proseguire clicca il bottone qui sotto.

      hr

      button.btn.btn-danger.btn-large.pull-right(type='submit')
        i.icon-white.icon-ban-circle
        |  Disabilita corso  
      
      .clearfix
    else
      input(type='hidden', name='enabled', value='yes')
    
      fieldset
        legend Abilitazione corso #{doc.name}
      
        .alert.alert-block.alert-info
          p
            strong Attenzione!
          p
            | Stai per abilitare il corso #{doc.name}, esso comparirà nuovamente nell'elenco corsi degli utenti iscritti.
        

      hr

      button.btn.btn-success.btn-large.pull-right(type='submit')
        i.icon-white.icon-ok
        |  Abilita corso
      
      .clearfix

  .spacer

block scripts
  script(src='/js/ckeditor/ckeditor.js')

