extends layout

block content
  
  .row
    .span8
      h3 Corsi
      
    .span4
      .spacer
      a.btn.pull-right.btn-success(href='/courses/form')
        i.icon-white.icon-upload
        |  Carica nuovo corso
        
  .row
    .span12
      if courses.length > 0
      
        table.table.table-striped
          thead
            tr
              th Nome corso
              th Data creazione
              th &nbsp;
          tbody
            each item in courses
              tr
                td #{item.doc.name}
                td #{moment(item.doc.created_on).format('LLL')}
                td
                  .pull-right
                    a.btn.input-small(href='/courses/form/#{item.doc._id}')
                      i.icon-pencil.icon-white
                      |  Modifica
                    | &nbsp;
                    if item.doc.enabled
                      a.btn.btn-danger.input-small(href='/courses/disable/#{item.doc._id}')
                        i.icon-ban-circle.icon-white
                        |  Disabilita
                    else
                      a.btn.btn-info.input-small(href='/courses/disable/#{item.doc._id}')
                        i.icon-ok.icon-white
                        |  Abilita
      
      
      
      else
        
        p.alert.alert-info Non è stato inserito ancora alcun corso.

