extends layout_user

block breadcrumb

block content
  
  .container
    .row
      .span8
        h4 I miei corsi
        .my-courses
  
          for report in reports
            if report != null
              .single-course
                .row-fluid
                  .span2
                    img(src='')
                  .span7
                    .single-course-info
                      div
                        a(href='/player/#{report.course.url}') #{report.course.name}
                        br
                        em iscritto #{moment(report.created_on).format('LLL')}
                  .span3
                    .spacer
                    .spacer
                    a.btn.btn-info.btn-block.pull-right(href='/player/#{report.course.url}')
                      i.icon-share.icon-white
                      |  Vai al corso
                .clearfix
                .description
                   !{report.course.description}
                
      .span3.offset1
        h4 Il mio profilo
        .my-profile
          p.large
            | #{user.name}
            br
            small #{user.username}
          hr
          p #{user.company}
          p #{user.email}
          
block logged
  li.spacer      
    small Sei collegato come 
      b #{user.username}
      | .
