extends layout_user

block breadcrumb

block content
  
  .container
    .row
      .span8
        h4 I miei corsi
        ul.my-courses
  
          for report in reports
            if report != null && report.events
              li
                a(href='/player/#{report.course.url}') #{report.course.name}
                em.pull-right iscritto #{moment(report.events[report.events.length - 1].created_on).format('LLL')}
      .span3.offset1
        h4 Il mio profilo
        .my-profile
          p.large
            | #{user.name}
            br
            small #{user.username}
          hr
          p #{user.company}
          p #{user.email}
block logged
  li.spacer      
    small Stai svolgendo questo corso come 
      b #{user.username}
      | .
