extends layout

block content
  .spacer
  .row
    .span8
      h3 Tracciamento #{user.name}
      
    .span4
      .spacer
      a.btn.pull-right.btn-primary(href='/users/login/#{user._id}?next=#{course.url}')
        i.icon-white.icon-chevron-right
        |  Apri corso come utente
      
      
  hr

  .row.profile
    .span12      
      
      p
        small
          b Dati Utente 
          | &nbsp;&raquo;&nbsp;&nbsp;
        span 
          a(href='mailto:#{user.email}', title='Contatta #{user.name} (#{user.email})') #{user.name}
          | , #{user.company} 
          | (username: #{user.username})

      p
        small
          b Dati Corso  
          | &nbsp;&nbsp;&raquo;&nbsp;&nbsp;
        span 
          | #{course.name} 
          em creato il #{moment(course.created_on).format('LLL')}

  .spacer
  .row
    .span12
      p.alert.alert-info Di seguito trovi i dettagli del tracciamento di #{user.name} per il corso #{course.name}.
        | Le azioni sono visualizzate in ordine cronologico dalla più recente (in alto) alla prima eseguita (in fondo).
        span.spacer
        |  Sono tracciate le seguenti tipologie di evento: 
        b iscrizione (enrollment), iniziato, sospeso, abbandonato, completato
        | . Per alcune tipolgie di tracciamento sono previsti dettagli aggiuntivi.

  .row
    .span12
      
      h5 Tracciamento
      
      if reports.length > 0
        table.table.table-striped.table-condensed#user-table
          thead
            tr
              th(style='width: 180px;') Data
              th(style='width: auto;') Descrizione
              th(style='width: auto;') Dettagli
          tbody
            
          for report in reports
            tr
              td #{moment(report.created_on).format('LLL')}
              td #{report.event_description}
              if report.event_type === 'enroll'
                td &ndash;
              else if report.event_type === 'initialize'
                td
                  if report.extra
                    strong Browser: 
                    | #{report.extra['user-agent']}
              else if report.event_type === 'commit'
                td
                  strong Ultima slide: 
                  | #{report.sco_data['cmi.location']} 
                  | &ndash; 
                  strong Modo uscita: 
                  | #{report.sco_data['cmi.exit']} 
                  | &ndash; 
                  strong Completamento:  
                  | #{report.sco_data['cmi.completion_status']} (#{report.sco_data['cmi.success_status'] || '-'})

              else
                td &ndash;
              
      else
        .alert.alert-danger.alert-block
          p 
            strong Errore della piattaforma
            br
            | Non è stato tracciato nessun evento per questo report (tuttavia almeno un record di enrollment dovrebbe essere presente).
            br
            | Per favore, contatta il supporto fornendo il seguente riferimento: #{report._id}.
