extends layout

block content
  .spacer
  .row
    .span8
      h3 Reports 
        small questa pagina visualizza i report su iscrizioni e fruizioni dei corsi.
      
  hr

  .row
    .span12
      
      if message.length
        .alert.alert-success.alert-block
          p #{message}
      
      if error.length > 0
        .alert.alert-danger.alert-block
          p #{error}
      
      if reports.length > 0
        table.table.table-striped#user-table
          thead
            tr
              th(style="width: auto;") Utente
              th(style="width: auto;") Nome corso
              th.text-center(style="width: 100px;") Stato iscrizione
              th(style="width: auto;") Ultimo evento
              th(style="width: 100px;") &nbsp;
          tbody
            each report in reports
              if users[report.user_id] && users[report.user_id]
                tr
                  td 
                    a(href='/users/form/#{report.user_id}') #{users[report.user_id][0].name}
                  td 
                    a(href='/courses/form/#{report.course_id}') #{courses[report.course_id][0].name}
                  td.text-center.avoid-search
                    if users[report.user_id][0].enabled && courses[report.course_id][0].enabled
                      img.image-icon(src='/img/icon-status-ok.png', title='Utente e corso sono attivi')
                    else
                      img.image-icon(src='/img/icon-status-error.png', title='Utente o corso non sono attivi.')
                  
                  td.avoid-search
                    | #{report.event_description}
                    |  (#{moment(report.created_on).fromNow()})

                  td.actions.avoid-search
                    a.btn.btn-small(href='/reports/#{report.user_id}/#{report.course_id}', title='Guarda il dettaglio')
                      i.icon-eye-open.icon-white
                      |  Dettagli
                  
              else
                tr.error
                  td.text-center(colspan=4)
                    small 
                      span.label.label-important Questo report non è valido,
                      | dovresti contattare il supporto. Riferimento: <em>#{report._id}.</em>
                  
                  td.actions.avoid-search
                    a.btn.btn-small(href='/reports/#{report._id}', title='Guarda il dettaglio')
                      i.icon-exclamation-sign.icon-white
                      |  Dettagli
      
      else
        p.alert.alert-info Nessun report da visualizzare.

