extends layout

block content
  .spacer
  .row
    .span8
      h3 Utenti
      
    .span4
      .spacer
      a.btn.pull-right.btn-primary(href='/users/form')
        i.icon-white.icon-plus
        |  Crea nuovo utente
  hr

  .row
    .span12
      if users.length > 0

        form
          .pull-left
            span Iscrivi selezionati al corso
            select.input-large
              option Corso 1
              option Corso 2
              option Corso 3
            button.btn.btn-success.btn-small(type='submit', name='enroll', value='Enroll')
              i.icon-white.icon-chevron-right 
              |  Iscrivi

          .pull-right
            div.input-append
              input.span3.search-query(type='text', placeholder='Filtra Nome o Società')

          .clearfix
        
          table.table.table-striped
            thead
              tr
                th.text-center(style='width: 30px;')
                  input(type='checkbox')
                th.span3 Nome e cognome
                th.span2 Società
                th.text-center(style="width: 50px;") Stato
                th.span3 Data creazione
                th.span3 &nbsp;
            tbody
              each item in users
                tr.success
                  td.text-center
                    input(type='checkbox', name='user[#{item.doc._id}]', value='enroll')
                  td #{item.doc.name}
                  td #{item.doc.company}
                  td.text-center
                    if item.doc.enabled
                      img.image-icon(src='/img/icon-status-ok.png', title='Utente attivo')
                    else
                      img.image-icon(src='/img/icon-status-error.png', title='Utente disabilitato')
                  td #{moment(item.doc.created_on).format('LLL')}
                  td.actions
                    if item.doc.enabled
                      a.btn.btn-small.btn-danger(href='/users/disable/#{item.doc._id}')
                        i.icon-ban-circle.icon-white
                        |  Disabilita
                    else
                      a.btn.btn-small.btn-info(href='/users/disable/#{item.doc._id}')
                        i.icon-ok.icon-white
                        |  Abilita
                    | &nbsp;
                    a.btn.btn-small(href='/users/form/#{item.doc._id}')
                      i.icon-pencil.icon-white
                      |  Modifica
      
      
      else
        
        p.alert.alert-info Non è stato inserito ancora alcun utente.

