extends layout

block content
  .spacer
  .row
    .span8
      h3 Utenti 
        small da questa pagina puoi creare, modificare e iscrivere utenti ai corsi
      
    .span4
      .spacer
      a.btn.pull-right.btn-primary(href='/users/form')
        i.icon-white.icon-plus
        |  Crea nuovo utente
  hr

  .row
    .span12
      
      if message.length
        .alert.alert-success.alert-block
          p #{message}
      
      if error.length > 0
        .alert.alert-danger.alert-block
          p #{error}
      
      if users.length > 0

        form.live-checkbox(action='/users/enroll', method='POST')
          input(type='hidden', name='_method', value='PUT')
            
          .pull-left
            p
              small.table-head#counter
                | Nessun utente selezionato
            select.input-large.selectpicker.show-menu-arrow(name='course_id', title='Scegli un corso...')
              for item in courses
                option(value=item.doc._id) #{item.doc.name}
            | &nbsp;
            button.btn.btn-success.btn-small(type='submit', name='enroll', value='Enroll')
              i.icon-white.icon-chevron-right 
              |  Iscrivi al corso

          .pull-right
            p
              small.table-head &nbsp;
            div.input-append
              input.span3.search-query#user-search(type='search', placeholder='Filtra Nome o Società...', data-search-target='user-table')

          .clearfix

          hr
        
          table.table.table-striped#user-table
            thead
              tr
                th.text-center(style='width: 30px;')
                  input(type='checkbox')
                th(style="width: auto;") Nome e cognome
                th(style="width: auto;") Società
                th.text-center(style="width: 50px;") Stato
                th(style="width: 90px;") Aggiunto il
                th(style="width: 270px;") &nbsp;
            tbody
              each item in users
                tr
                  td.text-center.avoid-search
                    input(type='checkbox', name='user[#{item.doc._id}]', value='enroll')
                  td
                    if item.doc.admin
                      span.icon-certificate(title='User is an administrator.')
                      | &nbsp;
                    | #{item.doc.name}
                  td #{item.doc.company}
                  td.text-center.avoid-search
                    if item.doc.enabled
                      img.image-icon(src='/img/icon-status-ok.png', title='Utente attivo')
                    else
                      img.image-icon(src='/img/icon-status-error.png', title='Utente disabilitato')
                  td.avoid-search #{moment(item.doc.created_on).format('L')}
                  td.actions.avoid-search
                    if item.doc.enabled
                      a.btn.btn-small.btn-danger(href='/users/disable/#{item.doc._id}', title='Disabilita Utente')
                        i.icon-ban-circle.icon-white.no-label
                    else
                      a.btn.btn-small.btn-info(href='/users/disable/#{item.doc._id}', title='Abilita Utente')
                        i.icon-ok.icon-white.no-label
                    | &nbsp;
                    a.btn.btn-small(href='/users/login/#{item.doc._id}', title='Login come #{item.doc.username}', disabled=item.doc.admin)
                      i.icon-user.icon-white.no-label
                    | &nbsp;
                    a.btn.btn-small(href='/users/form/#{item.doc._id}', title='Modifica Utente')
                      i.icon-pencil.icon-white.no-label
                    | &nbsp;
                    a.btn.btn-small(href='/reports/?filter_user=#{item.doc._id}', disabled=item.doc.admin)
                      i.icon-tasks.icon-white
                      |  Traccia
      
      
      else
        
        p.alert.alert-info Non è ancora stato inserito alcun utente.

      p
        span.label.label-info Nota sull'iscrizione 
        | puoi iscrivere un utente a un corso solamente una volta. Iscrizioni successive non avranno alcun effetto.